header {
    background-color: rgb(86, 27, 141); /* cor de fundo */
    color: antiquewhite; /* cor da fonte */
    text-align: center; /* centraliza o texto horizontalmente */
    max-width: 800px; /* define a largura máxima que o elemento pode ter */
    margin: 0 auto; /* centraliza o bloco inteiro na tela */
    padding: 16px; /* espaçamento interno entre a borda e o conteúdo */
}

h1{
    color: #3f3679;
}

main {
    background-color: aliceblue;
    color: #ff05d5;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex; /* ativa o flebox para alinhar os elementos filhos lado a lado */
}

img{
    width: 150px; /* define a largura fixa da imagem */
    height: 150px; /* define a largura fixa da imagem */
    border: 2px solid #17048f; /* adiciona uma borda sólida de 2px na cor azul/roxa */
    display: block; /* transforma a imagem em um bloco para aceitar margens verticais e quebra de linha */
    margin: 0 auto; /* centraliza a imagem horizontalmente na tela */
}

.artigo-autor {
    font-weight: bold; /* deixa o texto em negrito */
}